.grid-row{
	
	margin: 0 auto;
	max-width: $grid-max-width;
	position: relative;
	width: $grid-width;
	


		@include clearfix;

		&:not(:last-child){

			margin-bottom: $grid-vertical-gutter;

		}


		& > :not(:last-child){

			margin-right: $grid-horizontal-gutter;
			padding-left: $grid-col-pad-left;


			@include responsive(tablet-portrait){


				margin-right: 0 !important;



			}





		}


		[class^="grid-col-"]{

			float: left;

			@include responsive(tablet-portrait){


				width: 100% !important;


			}


		}


		// Grid Columns Code


		& .grid-col-12{

			width: 100%;
			

		}

		& .grid-col-11{

			width: calc(100% - (#{$grid-col-calc-base-val} * 1) - #{$grid-horizontal-gutter});
			background-color: yellow;

		}

		& .grid-col-10{

			width: calc(100% - (#{$grid-col-calc-base-val}* 2) - #{$grid-horizontal-gutter});
			

		}

		& .grid-col-9{

			width: calc(100% - (#{$grid-col-calc-base-val} * 3) - #{$grid-horizontal-gutter});
			

		}

		& .grid-col-8{

			width: calc(100% - (#{$grid-col-calc-base-val} * 4) - #{$grid-horizontal-gutter});
			

		}

		& .grid-col-7{

			width: calc(100% - (#{$grid-col-calc-base-val} * 5) - #{$grid-horizontal-gutter});
			
		}

		& .grid-col-6{

			width: calc(100% - (#{$grid-col-calc-base-val} * 6) - #{$grid-horizontal-gutter});

			
			
		}

		& .grid-col-5{

			width: calc(100% - (#{$grid-col-calc-base-val} * 7) - #{$grid-horizontal-gutter});
			

		}
		& .grid-col-4{

			width: calc(100% - (#{$grid-col-calc-base-val} * 8) - #{$grid-horizontal-gutter});
			

		}

		& .grid-col-3{

			width: calc(100% - (#{$grid-col-calc-base-val} * 9) - #{$grid-horizontal-gutter});
			
		}

		& .grid-col-2{

			width: calc(100% - (#{$grid-col-calc-base-val} * 10) -  #{$grid-horizontal-gutter});
			

		}
		& .grid-col-1{

			width: calc(100% - (#{$grid-col-calc-base-val} * 11) - #{$grid-horizontal-gutter});
			
		}


		// Grid Offsets code

		& .grid-offset-11{


				left: 40%;
				position: relative;


		}
	
	

}// End of grid row



