.navigation{
	

	&_checkbox{


		display: none;

	}

	&_checkbox:checked ~ &_background{


		transform: scale(80);


	}

	&_checkbox:checked ~ &_nav{


		opacity: 1;
		width: 50%;
		


	}

	&_checkbox:checked ~ &_button > &_bar::after{

		opacity: 0;
	
	}

	&_checkbox:checked ~ &_button > &_bar{

		top: 2.5rem;
		background-color: #000;
		transform: rotate(135deg);

	
	}

	&_checkbox:checked ~ &_button > &_bar::before{

		top: 0;
		transform: rotate(-90deg);
	
	}

	&_button{


		background-color: $white-color;
		border: none;
		border-radius: 50%;
		height: 5rem;
		position: fixed;
		left: 3rem;
		top: 3rem;
		transition: transform .4s;
		width: 5rem;
		z-index: 500;

		&:hover{

			cursor: pointer;

			


		}

		&:hover > *{

					background-color: $dark-green-color;

		}




	}

	&_bar{



			display: block;
			background-color: #000;
			width: 2.5rem;
			height: .2rem;
			position: relative;
			top: 1.6rem;
			transition: transform .3s;
			left: 1.3rem;


			&::before,&::after{

				background-color: #000;
				content: "";
				display: block;
				position: absolute;
				width: 2.5rem;
				height: .2rem;



			}


			
			&::before{

				top: .7rem;



			}

			&::after{

				top: 1.5rem;

			}


	}

	&_background{

		background-color: $dark-green-color;
		background-image: $linear-gradient;
		border: none;
		border-radius: 50%;
		height: 4rem;
		position: fixed;
		left: 3.5rem;
		top: 3.5rem;
		transition: all .4s;
		width: 4rem;
		z-index: 400;

	}

	&_nav{


		left: 50%;
		opacity: 0;
		position: fixed;
		transform: translate(-50%,-50%);
		top: 50%;
		transition: opacity .3s;
		width: 0;
		z-index: 450;



		
			


		}

	&_list{

		left: 35%;
		list-style-type: none;
		margin: 0;
		padding: 0;
		position: relative;

		@include responsive(phone){

			left: 0;


		}

		

		


	}

	&_item{


			background-image: linear-gradient(105deg,$gold-color 0%,$gold-color 50%,#FFF 50%);
			background-size: 195%;
			display: inline-block;
			font-size: 2rem;
			height: 5rem;
			margin: 0 auto;
			padding-top: 1rem;
			transition: all .4s;
			width: 50%;

			&:hover{

				background-position: 100%;


			}


			@include responsive(tablet-portrait){


					width: 60%;

			}

			@include responsive(phone){



					width: 100%;


			}

			
	}

	&_item:hover > &_link {

				color: black;

			}


	&_item:not(:last-child){

		margin-bottom: 1rem;

	}

	&_link{

		&:link,&:visited,&:active{


			color: $white-color;
			display: block;
			text-decoration: none;
			margin: 0 auto;
			width: 50%;

			@include responsive(phone){

				width: 70%;


			}
			


		}


	}


}// End of naviagation rules