html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width,initial-scale=1, shrink-to-fit=no')
    title InDyM | We are a team of independent Models
    link(href='css/style.css', type='text/css', rel='stylesheet')
    link(rel='shortcut icon', type='img/favicon', href='imgs/fav_icon.png')
    script(src='js/vendor/angular.min.js', type='text/javascript')
  script(type='text/javascript', src='js/loader.js')
  body
    #preloader
      .loader
        p Loading Indym...
    aside.navigation
      input#nav-check.navigation_checkbox(type='checkbox')
      label.navigation_button(for='nav-check')
        span.navigation_bar
      .navigation_background
      nav.navigation_nav
        ul.navigation_list
          li.navigation_item
            a.navigation_link(href='#home') Home
          li.navigation_item
            a.navigation_link(href='#') About
          li.navigation_item
            a.navigation_link(href='#') Top Models
          li.navigation_item
            a.navigation_link(href='#') Veteran
          li.navigation_item
            a.navigation_link(href='#') Book
    // -End of navigation content -
    header.header
      .brand-content
        a(href='#')
          img.header__brand-logo(srcset='imgs/indym_logo_res.png 70w,imgs/indym_logo_alt.png 210w', sizes='@media(max-width: 900px) 6vw,@media(max-width:600px) 6vw,70px', src='imgs/indym_logo_alt.png', alt='InDyM logo')
      // -End of brand content--
      #home.hero-content
        h1.hero-heading
          span.hero-sub-head-1 Independent Models
          span.hero-sub-head-2 We are an impeccable pack of passionate Models
        a.btn.btn--white.btn--animated(href='#') Work With Us
    // -End of header content--
    main
      .about-content.bg-grey-light
        article.grid-row
          section.u-text-center
            h2.heading-secondary.u-margin-big
              | The Beauty of Independence as Models
          section.grid-col-6
            .about-content__text
              h3.heading-tertiary.u-margin-small Our goal is to represent your brand
              p.u-text-lead
                | Lorem ipsum dolor sit amet,
                | consetetur sadipscing elitr,  sed diam nonumy eirmod tempor invidunt ut labore et
                | dolore magna aliquyam erat, sed diam voluptua.
                | At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren
            .about-content__text
              h3.heading-tertiary.u-margin-small We are ready to market your products
              p.u-text-lead
                | Lorem ipsum dolor sit amet,
                | consetetur sadipscing elitr,  sed diam nonumy eirmod tempor invidunt ut labore et
                | dolore magna aliquyam erat, sed diam voluptua.
                | At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren
          section.grid-col-6
            .composition
              img.composition__photo.composition__photo--p1(srcset='imgs/composite_1_res.jpg 200w,imgs/composite_1.jpg 1272w', sizes='(max-width:900px) 16vw,(max-width:600px) 20vw, 200px', src='imgs/composite_1.jpg', alt='composite image 1')
              img.composition__photo.composition__photo--p2(srcset='imgs/composite_2_res.jpg 200w,imgs/composite_2.jpg 1280w', sizes='(max-width:900px) 16vw,(max-width:600px) 20vw, 200px', src='imgs/composite_2.jpg', alt='composite image 2')
              img.composition__photo.composition__photo--p3(srcset='imgs/composite_3_res.jpg 200w,imgs/composite_3.jpg 1280w', sizes='(max-width:900px) 16vw,(max-width:600px) 20vw, 200px', src='imgs/composite_3.jpeg', alt='composite image 3')
              img.composition__photo.composition__photo--p4(srcset='imgs/composite_4_res.jpg 200w,imgs/composite_4.jpg 1280w', sizes='(max-width:900px) 16vw,(max-width:600px) 20vw, 200px', src='imgs/composite_4.jpg', alt='composite image 4')
      // -End of about content-
      .feature-content
        article.grid-row
          section.grid-col-4
            .feature-content__feature
              h3.heading-tertiary.u-margin-small Rely on us
              p.u-text-lead
                | Lorem ipsum dolor sit amet,
                | consetetur sadipscing elitr,  sed diam nonumy eirmod tempor invidunt ut labore et
                | dolore magna aliquyam erat, sed diam voluptua. flskf lsjfs sl dlfdl
            // -End of feature -
          section.grid-col-4
            .feature-content__feature
              h3.heading-tertiary.u-margin-small Rely on us
              p.u-text-lead
                | Lorem ipsum dolor sit amet,
                | consetetur sadipscing elitr,  sed diam nonumy eirmod tempor invidunt ut labore et
                | dolore magna aliquyam erat, sed diam voluptua. flskf lsjfs sl dlfdl
            // -End of feature -
          section.grid-col-4
            .feature-content__feature
              h3.heading-tertiary.u-margin-small Rely on us
              p.u-text-lead
                | Lorem ipsum dolor sit amet,
                | consetetur sadipscing elitr,  sed diam nonumy eirmod tempor invidunt ut labore et
                | dolore magna aliquyam erat, sed diam voluptua. flskf lsjfs sl dlfdl
            // -End of feature -
      // -End of the feature content--
      .profile-content.bg-grey-light
        article.grid-row
          section.u-text-center
            h2.heading-secondary.u-margin-big
              | Our Models Profiles
          section.grid-col-4
            .rotating-card
              section.rotating-card__side.rotating-card__side--front
                h4.rotating-card__side--front__head.rotating-card__side--front__head--1  
                .rotating-card__side--front__body
                  ul
                    li
                      span Brands Modeled
                      span :
                      span Nike,Gucci,Adiddas
                    li
                      span Eye Color
                      span :
                      span Brown
                    li
                      span Hair Color
                      span :
                      span Black
                    li
                      span Height
                      span :
                      span 1.73"
                    li
                      span Physique
                      span :
                      span Slim
              // -End of rotating card from--
              section.rotating-card__side.rotating-card__side--back
                h4.rotating-card__side--back__head.rotating-card__side--back__head--1
                  span Suku Micheals
                .rotating-card__side--back__body
                  a.btn.btn-card(href='#') Book Now
              // -End of rotating card from--
            // -End of rotating card content--
          // -End of model 1 profile content-
          section.grid-col-4
            .rotating-card
              section.rotating-card__side.rotating-card__side--front
                h4.rotating-card__side--front__head.rotating-card__side--front__head--2  
                .rotating-card__side--front__body
                  ul
                    li
                      span Brands Modeled
                      span :
                      span Yeezy,Jordan
                    li
                      span Eye Color
                      span :
                      span Brown
                    li
                      span Hair Color
                      span :
                      span Black
                    li
                      span Height
                      span :
                      span 1.72"
                    li
                      span Physique
                      span :
                      span Slim
              // -End of rotating card from--
              section.rotating-card__side.rotating-card__side--back
                h4.rotating-card__side--back__head.rotating-card__side--back__head--2
                  span Janet Jackson
                .rotating-card__side--back__body
                  a.btn.btn-card(href='#') Book Now
              // -End of rotating card from--
            // -End of rotating card content--
          // -End model 2 profile content--
          section.grid-col-4
            .rotating-card
              section.rotating-card__side.rotating-card__side--front
                h4.rotating-card__side--front__head.rotating-card__side--front__head--3  
                .rotating-card__side--front__body
                  ul
                    li
                      span Brands Modeled
                      span :
                      span Levi's,Loui Vuitton
                    li
                      span Eye Color
                      span :
                      span Blue
                    li
                      span Hair Color
                      span :
                      span Black
                    li
                      span Height
                      span :
                      span 1.53"
                    li
                      span Physique
                      span :
                      span Lean
              // -End of rotating card from--
              section.rotating-card__side.rotating-card__side--back
                h4.rotating-card__side--back__head.rotating-card__side--back__head--3
                  span Stevenson West
                .rotating-card__side--back__body
                  a.btn.btn-card(href='#') Book Now
              // -End of rotating card from--
            // -End of rotating card content--
          article.grid-row
            section.grid-col-12
              .rotating-card__btn
                a.btn(href='#') Discover More Profiles
          // End of grid row-
        // End of grid row-
      // -End of profile content--
      .trendy-content
        .trendy-content__layer
          h2.heading-secondary.trendy-content__layer-heading.u-margin-medium Trending Models
          article.grid-row
            section.grid-col-12
              .trendy-model
                section.trendy-model__image-container.hidden
                  img.trendy-model__image(srcset='imgs/trendy-m-3_res_1.jpg 685w, imgs/trendy-m-3_res_2.jpg 450w, imgs/trendy-m-3_res_1.jpg 1920w', sizes='(max-width:900px) 60vw,(max-width:600px) 70vw, 685px', alt='trendy model image')
                  span.trendy-model__tag
                    small.trendy-model__text Trendy
                  ul.trendy-model__gallery
                    li.trendy-model__gallery-item
                      img.trendy-model__image(srcset='imgs/trendy-m-1_res.jpg 150w,imgs/trendy-m-1_res_3x.jpg 450w', sizes='(max-width: 900px) 12vw,(max-width: 600px) 14vw, 150px', alt='trendy model image')
                    li.trendy-model__gallery-item
                      img.trendy-model__image(srcset='imgs/trendy-m-2_res.jpg 150w,imgs/trendy-m-2_3x.jpg 450w', sizes='(max-width: 900px) 12vw,(max-width: 600px) 14vw, 150px', src='imgs/trendy-m-2_3x.jpg', alt='trendy model image')
                    li.trendy-model__gallery-item
                      img.trendy-model__image(srcset='imgs/trendy-m-3_res.jpg 150w,imgs/trendy-m-3_res_3x.jpg 450w', sizes='(max-width: 900px) 12vw,(max-width: 600px) 14vw, 150px', alt='trendy model image')
                    li.trendy-model__gallery-item
                      img.trendy-model__image(srcset='imgs/trendy-m-4_res.jpg 150w,imgs/trendy-m-4_3x.jpg 450w', sizes='(max-width: 900px) 12vw,(max-width: 600px) 14vw, 150px', src='imgs/trendy-m-4_3x.jpg', alt='trendy model image')
                section.trendy-model__bio
                  span.trendy-model__bio-tag Hot______
                  .trendy-model__bio-content
                    h3.trendy-model__bio-content-title Pranka Naidoo
                    p.trendy-model__bio-content-text.hidden
                      | Lorem ipsum dolor sit amet,
                      | consetetur sadipscing elitr,  sed diam nonumy eirmod tempor invidunt ut labore et
                      | dolore magna aliquyam erat, sed diam voluptua.
                    ul.trendy-model__bio-content-profile
                      li
                        span Eye Color
                        span :
                        span Blue
                      li
                        span Hair Color
                        span :
                        span Black
                      li
                        span Height
                        span :
                        span 1.53"
                    a.btn(href='#') Book Trendy Pranka
                  // -End of trend-model bio content-
                strong.clearfix
              // -End of trendy model content--
        // --End of trendy content layer-
      // -end of trendy model content---
      .top-model-content
        h2.heading-secondary.trendy-content__layer-heading.u-margin-small Top & Veteran Models
        article.grid-row
          section.grid-col-12
            section.collage
              .collage__item.collage__item--1
                img.collage__item-image.hidden(srcset='imgs/collage-1_res.jpg 200w,imgs/collage-1.jpg 600w', sizes='(max-width: 900px) 15vw,(max-width: 600px) 15.5vw', src='imgs/collage-1.jpg', alt='collage image 1')
                span.collage__item-title
                  | / Dusty 
                  small Tsonga
              .collage__item.collage__item--2
                img.collage__item-image.hidden(srcset='imgs/collage-2_res.jpg 200w,imgs/collage-2.jpg 600w', sizes='(max-width: 900px) 15vw,(max-width: 600px) 15.5vw', src='imgs/collage-2.jpg', alt='collage image 2')
                span.collage__item-title
                  | / Celine 
                  small Jones
              .collage__item.collage__item--3
                img.collage__item-image.hidden(srcset='imgs/collage-3_res.jpg 200w,imgs/collage-3.jpg 600w', sizes='(max-width: 900px) 15vw,(max-width: 600px) 15.5vw', src='imgs/collage-3.jpg', alt='collage image 3')
                span.collage__item-title
                  | / Donsky 
                  small Voshk
              .collage__item.collage__item--4
                img.collage__item-image.hidden(srcset='imgs/collage-4_res.jpg 200w,imgs/collage-4.jpeg 600w', sizes='(max-width: 900px) 15vw,(max-width: 600px) 15.5vw', src='imgs/collage-4.jpeg', alt='collage image 4')
                span.collage__item-title
                  | / Cecilia 
                  small Blue
              .collage__item.collage__item--5
                img.collage__item-image.hidden(srcset='imgs/collage-5_res.jpg 200w,imgs/collage-5.jpg 600w', sizes='(max-width: 900px) 15vw,(max-width: 600px) 15.5vw', src='imgs/collage-5.jpg', alt='collage image 1')
                span.collage__item-title.u-text-center
                  | / Zakes 
                  small Black
              .collage__item.collage__item--6
                img.collage__item-image.hidden(srcset='imgs/collage-6_res.jpg 200w,imgs/collage-6.jpeg 600w', sizes='(max-width: 900px) 15vw,(max-width: 600px) 15.5vw', src='imgs/collage-6.jpeg', alt='collage image 1')
                span.collage__item-title
                  | / Remy 
                  small Smith
              .collage__item.collage__item--7
                img.collage__item-image.hidden(srcset='imgs/collage-7_res.jpg 200w,imgs/collage-7.jpg 600w', sizes='(max-width: 900px) 15vw,(max-width: 600px) 15.5vw', src='imgs/collage-7.jpg', alt='collage image 1')
                span.collage__item-title
                  | / Mike 
                  small Peter-Stevens
            // End of montage-
          // -End of grid column 12 content--
      // -End of model collage content-
      .stories-content
        .background-video
          video.background-video__content(s='', autoplay='', muted='', loop='')
            source(src='vids/model.mp4', type='video/mp4')
            source(src='vids/model.webm', type='video/webm')
            source(src='vids/model.ogv', type='video/ogv')
            img(src='vids/model.jpg')
         
        section.u-text-center
          h2.heading-secondary.u-margin-medium
            | Read Our Clients' Commends
        article.grid-row
          .stories
            section.stories__story
              .stories__story-shape
                img.stories__story-shape-image(srcset='imgs/story_1_res.jpg 250w, imgs/story_1.jpg 750w', sizes='(max-width: 900px) 13vw,(max-width: 600px) 13vw,250px', alt='user image', src='imgs/story_1.jpg')
                span.stories__story-shape-title Micheal Cane
              .stories__story-text
                h3.heading-tertiary.u-margin-small.hidden Truly impeccable and Alluring Models
                p
                  | Lorem ipsum dolor sit amet,
                  | consetetur sadipscing elitr,  sed diam nonumy eirmod tempor invidunt ut labore et
                  | dolore magna aliquyam erat, sed diam voluptua.
                  | Lorem ipsum dolor sit amet,
                  | consetetur sadipscing elitr,  sed diam nonumy eirmod tempor invidunt ut labore et
                  | dolore magna aliquyam erat, sed diam voluptua.
            // -End of stories-story content-
        article.grid-row
          .stories
            section.stories__story
              .stories__story-shape
                img.stories__story-shape-image(srcset='imgs/story_2_res.jpg 250w, imgs/story_2.jpg 750w', sizes='(max-width: 900px) 13vw,(max-width: 600px) 13vw,250px', alt='user image', src='imgs/story_2.jpg')
                span.stories__story-shape-title Micheal Cane
              .stories__story-text
                h3.heading-tertiary.u-margin-small Thanks to ya Indym, we are tops now
                p
                  | Lorem ipsum dolor sit amet,
                  | consetetur sadipscing elitr,  sed diam nonumy eirmod tempor invidunt ut labore et
                  | dolore magna aliquyam erat, sed diam voluptua.
                  | Lorem ipsum dolor sit amet,
                  | consetetur sadipscing elitr,  sed diam nonumy eirmod tempor invidunt ut labore et
                  | dolore magna aliquyam erat, sed diam voluptua.
            // -End of stories-story content-
        article.grid-row
          .stories
            section.stories__story
              .stories__story-shape
                img.stories__story-shape-image(srcset='imgs/story_3_res.jpg 250w, imgs/story_3.jpg 750w', sizes='(max-width: 900px) 13vw,(max-width: 600px) 13vw,250px', alt='user image', src='imgs/story_3.jpg')
                span.stories__story-shape-title Micheal Cane
              .stories__story-text
                h3.heading-tertiary.u-margin-small My life has changed for better for good.
                p
                  | Lorem ipsum dolor sit amet,
                  | consetetur sadipscing elitr,  sed diam nonumy eirmod tempor invidunt ut labore et
                  | dolore magna aliquyam erat, sed diam voluptua.
                  | Lorem ipsum dolor sit amet,
                  | consetetur sadipscing elitr,  sed diam nonumy eirmod tempor invidunt ut labore et
                  | dolore magna aliquyam erat, sed diam voluptua.
            // -End of stories-story content-
      // -End of stories content--
      .booking-content
        article.grid-row
          section.booking-content_model-book
            h2.heading-secondary.u-margin-left-small.u-margin-top-small Book Your Favourite Model
            .booking-content_book-form
              form.form
                section.form__group
                  input.form__input(type='text', id='Booker name', placeholder='Booker name')
                  label.form__label(for='name') Booker Name
                section.form__group.hidden
                  input.form__input(type='email', id='booker email', placeholder='Booker Email', required='')
                  label.form__label(for='Booker email') Booker Email
                section.form__group
                  .form__select__group.hidden
                    label.form__select__label(for='Model group') Model Category:
                    select.form__select(name='model_category', id='Model group')
                      option(value='top', selected='selected') Top
                      option(value='top') Veteran
                      option(value='top') Trending
                      option(value='top') Trending
                  .form__select__group.form__hidden
                    label.form__select__label(for='Model name') Model Name:
                    select.form__select(name='model_name', id='Model name')
                      option(value='top', selected='selected') Top
                      option(value='top') Veteran
                      option(value='top') Trending
                      option(value='top') Trending
                section.form__group.u-margin-top-medium
                  h2.form__radio__group__title Notice:
                  .form__radio__group
                    input#weeks.form__radio(type='radio', name='notice', checked='checked')
                    label.form__radio__label(for='weeks')
                      span.form__radio__button
                      |                                                     7 Days
                  .form__radio__group
                    input#immediate.form__radio(type='radio', name='notice')
                    label.form__radio__label(for='immediate')
                      span.form__radio__button
                      |                                                     Immediately
                section.form__group.u-margin-top-medium
                  .form__checkbox__group
                    input#update.form__checkbox(type='checkbox', name='update')
                    label.form__checkbox__label(for='update')
                      | Keep me updated on this model 
                      span.form__checkbox__button
                        small ✓
                section.form__submit_btn.hidden
                  input.form__submit-btn(type='submit', value='Book Model', name='bookbutton')
      // -End of booking content--
      .contact-content
        article.grid-row
          section.grid-col-6
            .contact-content__halo.hidden
              h3 CONTACT INDYM
              section
                p
                  b T :
                  small +011 456 7896
                p
                  b F :
                  small +086 456 7896
                p
                  b E :
                  span
                    small info@indym.com
                    small booking@indym.com
                    small talentscout@indym.com
                    small young@indym.com
                    small application@indym.com
                  strong.clearfix
          section.grid-col-6
            .contact-content__location
              address
                p 789 Koka Street Suite
                p Kokaville, Pretoria Nova
                p 0152
              section
                p South Africa
                ul.social-list.hidden
                  li
                    a(href='#')
                      img.social-icon(src='imgs/facebook.png', alt='facebook logo')
                  li
                    a(href='#')
                      img.social-icon(src='imgs/twitter.png', alt='facebook logo')
                  li
                    a(href='#')
                      img.social-icon(src='imgs/instagram.png', alt='facebook logo')
                  li
                    a(href='#')
                      img.social-icon(src='imgs/gplus.png', alt='facebook logo')
      .footer-content
        article.grid-row
          section.grid-col-12
            .grid-col-6.footer-content__style.u-margin-small
              span
                small Company
                small Support
            span.grid-col-6.footer-content__trans__style &nbsp
        article.grid-row
          section.grid-col-6
            .footer-content__navigation
              section
                ul
                  li
                    a(href='#') About Us
                  li
                    a(href='#') Blog
                  li
                    a(href='#') Careers
                  li
                    a(href='#') Recruitment
              section
                ul
                  li
                    a(href='#') FAQS
                  li
                    a(href='#') Help
                  li
                    a(href='#') Booking
          section.grid-col-6
            .footer-content__brand
              p
                form.form
                  section.form__group.hidden
                    label Subscribe To Our Newletters
                    input.form__input.form-input-border.form-input-width(type='text', placeholder='youremail@email.com', name='subscribtion')
                    input.form__submit-btn.input-modify(type='submit', value='Subscribe')
              p
                span Copyright 2018. All rights reserved
                a(href='#')
                  img.header__brand-logo(srcset='imgs/indym_logo_res.png 70w,imgs/indym_logo_alt.png 210w', sizes='@media(max-width: 900px) 6vw,@media(max-width:600px) 6vw,70px', src='imgs/indym_logo_alt.png', alt='InDyM logo')
      //
        -End of footer content
                </main><!---End of main content--
      script(type='text/javascript', src='js/main.js')
