.stories{
	

	margin:0 auto;
	width: 60%;


	@include responsive(tablet-landscape){

		width: 80%;


	}

	@include responsive(small-phone){

		width: 72%;


	}



	

	&__story{


		background-color: rgba($dark-green-color,.5);
		color: $white-color;
		margin-bottom: 6rem;
		padding: 4rem 1.5rem 3rem 6rem;
		transform: skewX(-12deg);
		
		& > * {

			transform: skewX(12deg);

		}

		@include clearfix;




		&-shape{

			
			border-radius: 50%;
			width: 15rem;
			height: 15rem;


			overflow: hidden;
			position: relative;
			clip-path: circle(50% at 50% 50%);
			-webkit-shape-outside: circle(50% at 50% 50%);



			@include responsive(tablet-portrait){

				width: 10rem;
				height: 10rem;

				


			}

			@include responsive(phone){

				left: 30%;
				
			}

			@include responsive(small-phone){

				left: 10%;
				
			}


			&:hover &-image{


					

			@supports (filter: blur(2px) brightness(95%)){

				filter: blur(2px) brightness(95%);


			}

			}

			&:hover &-title{


					opacity: 1;

			}






			&-image{

				
				height: 100%;
				transition: all .20s;

				
			}

			&-title{

				color: $gold-color;
				display: inline-block;
				font-size: 1.4rem;
				opacity: 0;
				position: absolute;
				transition: all .20s;
				top: 40%;
				left: 30%;
				width: 50%;


				@include responsive(tablet-portrait){


					width: 60%;
			
				}

				@include responsive(phone){


					font-size: 1.2rem;
			
				}

				

				

			}


		}// End of story shape styles

		&-shape,
		&-text{

			float: left;

		}

		&-text{

			padding-top: 1.6rem;
			width: 60%;

			@include responsive(tablet-portrait){


				width: 70%;
				padding-left: 2rem;
			
			}

			@include responsive(phone){


				width: 100%;
				padding-left: 0;
			
			}


			p{

				font-size: 1.1rem;
				padding-left: 1.2rem;

			}

		}

	}


}