.collage{
	
	
	margin:0 auto;
	margin-top: 5rem;
	position: relative;
	height: 75rem;
	padding-bottom: 10rem;
	width: 80%;

	
		






	&__item{


		position: absolute;
		width: 20rem;

		@include responsive(phone){


				width: 14rem;

		}

		



		&-image{

			height: 30rem;


			@include responsive(tablet-portrait){


				height: 25rem;

			}

			@include responsive(phone){


				height: 14rem;


			}

			





		}

		&--1{



			@include responsive(phone){


				
				top: -5%;
				

			}

		}

		&--2{

			top: 10%;
			left: 18.5%;


			@include responsive(phone){


				left: 15.5%;
				top: 5%;

			}

		}



		&--3{

			top: 20%;
			left: 37%;


			


			@include responsive(phone){


				left: 30%;
				top: 1%;

			}

			@include responsive(small-phone){


				left: 35%;
				top: -3%;
				

			}


		}

		&--4{

			top: 50%;
			left: 50%;

			@include responsive(phone){

				top: 30%;
				left: 40%;

			}

			@include responsive(small-phone){

				top: 30%;
				left: 25%;
				

			}


		}

		&--5{

			top: 20%;
			left: 65%;

			@include responsive(phone){

				
				left: 50%;

			}

			@include responsive(small-phone){

				top: 27%;
				left: 45%;
				

			}


		}

		&--6{

			top: 10%;
			left: 83.5%;

			@include responsive(phone){

				
				left: 68%;
				top: 20%;

			}

		}

		&--7{

			top: 70%;
			left: 32%;


			@include responsive(phone){

				
				top: 48%;
				left: 25%;

			}

			@include responsive(small-phone){

				
				top: 40%;
				left: 5%;

			}




		}

		&-title{


			display: inline-block;
			font-size: 1.5rem;
			padding-left: 2rem;
			width: 100%;


			@include responsive(tablet-portrait){

				color: $gold-color;

			}


			

			small{


				color: $dark-green-color;

			}



		}

		




	}




}

