.composition{
	

	position: relative;
	

		@include responsive(tablet-portrait){

				margin-top: 10rem;
				margin-bottom: 10rem;


		}

	&:hover :not(:hover){

		transform: scale(.9);
		transition: transform .2s;


	}


	@include responsive(tablet-portrait){

		padding-left: 20%;


	}

	&__photo{


		border-radius: 2rem;
		position: absolute;
		transition: all .3s;
		outline-offset: 1rem;
		width: 30%;
		z-index: 5;

		@include responsive(tablet-portrait){


			width: 20%;
			position: relative;

		}


		@include responsive(phone){


			width: 25%;
			

		}


		&--p1{

			top: -5rem;
			left: 25%;

			
		}

		&--p2{

			right: 15%;


			@include responsive(phone){

				right: 20%;
				


			}



		}

		&--p3{

			top: 0;

			@include responsive(phone){

				left: -2%;
				


			}

		}

		&--p4{

			left: 28%;
			top: 15rem;

			&:hover{

				top: 0;

			}


			@include responsive(tablet-portrait){

				left: -37%;
				top: 15rem;


			}


			@include responsive(phone){

				left: 28%;
				top: -7rem;


			}
		}

		&:hover{

			
			box-shadow: 0 1rem 2rem rgba($red-color,.3);
			transform: scale(1.6);
			outline: 3px solid rgba($dark-green-color,1);
			z-index: 10;




		}

	}
}